body {
  padding-bottom: 20px;
  background-color: #e0a43c8a;
  background-image: url("../img/mountain.jpg");/* двоеточие для того чтобы поиск файла происходил на папку выше */
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}
.body-content .description{
  font-size: 0.8em;
}
a{
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}
span{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
p{
  font-weight: 400;
}
.report{
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto',sans-serif;
  font-weight: 900;
}

/* Set width on the form input elements since they're 100% wide by default */
select {
  max-width: 280px;
}
.login input, .registration input{
  max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}
hr {
  border:1.8px solid black;
}
header{
  margin-top: 0px;
}
.carousel-caption {
  color: white;
  font-size: 0.7em;
}
pre{
  background-color: #ffffff
}
footer {
  color:white;
  font-size:1.1em;
}
.application {
  /* border: 5px solid #b94a48; */
  text-align: center;
  font-size: 15px;
  padding: 3px;
  transition: 5s all;
  min-height: 500px;
}
.application.game button{
  transition: 5s all;
}
.application .weather_info {
  height: 200px;
  width: 100%;
}
.application .weather_info button{
  height: 38px;
  width: 100%;
}
.application .weather {
  color: black;
}
.application .weather h4{
  font-size: 17px;
}
/* .application.game button:hover{

  transform: scale(1.1);
} */
/* .application.game:hover{
  transform: scale(1.5);
} */
.application.second{
  padding-left:10px;
}

.form-group{
  margin-left: 20px;
}
.review{
  margin-left: 0px;
}
.delete button {
  font-size: 10px;
}
.btn-block{
  width: 430px;
}
@media (max-width: 1000px){
  body {
  background-color: #111111;
  background-image: none;
  }
  footer hr {
    border-top: 1.5px solid white;
  }
  footer {
    font-size: 0.9em;
  }
  .body-content {
    font-size: 1em;
  }
  .carusel {
      display: none !important;
  }
  .d-none {
      display: none !important;
   }
}
/*.carousel {
  max-height: 900px !important;
  width: 100%;
}
.carousel-inner img {
  max-height: 900px !important;
  width: 100%;
}