body {
  padding-bottom: 20px;
  background-color: #e0a43c8a;
  background-image: url("../img/mountain.jpg");/* двоеточие для того чтобы поиск файла происходил на папку выше */
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  font-size: 1.5em;
}
.body-content .description{
  font-size: 0.8em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
  max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}
footer hr {
  border-top: 1.8px solid black;
}
header{
  margin-top: 0px;
}
.carousel-caption {
  color: white;
  font-size: 0.7em;
}
pre{
  background-color: #ffffff;
}
footer {
  color:white;
  font-size:1.1em;
}
@media (max-width: 1000px){
  body {
  background-color: #111111;
  background-image: none;
  }
  footer hr {
    border-top: 1.5px solid white;
  }
  .body-content {
    font-size: 1em;
  }
  .carusel {
      display: none !important;
  }
  .d-none {
      display: none !important;
   }
}

/*.content{
  
}
/*.carousel {
  max-height: 900px !important;
  width: 100%;
}
.carousel-inner img {
  max-height: 900px !important;
  width: 100%;
}