{% extends "app/layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<h3>Сюда нужно добавить змейку и приложение определяющее погоду и курс валюты</h3>
<div class="row">
  <div class="col-md-4 application">
    <p>Узнать погоду!</p>
    <button type="button" class="btn btn-secondary btn-block">Узнать погоду</button>
  </div>
  <div class="col-md-4 application game">
    <p>Змейка!</p>
    <button type="button" class="btn btn-secondary btn-block">Играть</button>
  </div>
  <div class="col-md-4 application">
    <p>Конвертировать валюту!</p>
    <button type="button" class="btn btn-secondary btn-block">Конвертировать</button>
  </div>
</div>
{% endblock %}