{% extends "app/layout.html" %}

{% block content %}
<h3 class="text-center" style="font-size: 1.5em">{{ message }} &#128521</h3>
<br>
<div class="row">
    {% if SaitReviews %}
    {% for SaitFeedback in SaitReviews %}
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <p>{{ SaitFeedback.user_name }}: {{ SaitFeedback.review }}</p>
    </div>
    {% endfor %}

    {% else %}
    <div class="col-lg-12">
        <p class="text-center">
            Пока нет отзывов, вы будете первым! &#128540
        </p>
    </div>
    {% endif %}
</div>
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ review_form.review }}
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Оставить отзыв" class="btn btn-dark" />
        </div>
    </form>
</div>
<!--<address>
    <strong>Связаться с автором сайта:</strong><a href="mailto:dan28012000@gmail.com"> dan28012000@gmail.comm</a><br />
    <strong>По вопросам рекламы:</strong><a href="mailto:Marketing@gmail.com"> Marketing@gmail.com</a>
</address>-->
{% endblock %}